img {
	display: block;
	text-align: center;
	margin: 0px auto;   
}

table {
    margin: 0px auto;            
}​

#sub-nav .social a.kaggle{background:url('/images/social/kaggle.png?1486521834') center no-repeat #55CFF8;border:1px solid #55CFF8}