figure.code {
	font-size: 1.2em;
}

article code, article pre {
	font-size: 0.8em;
	background: white;
}

article .entry-content table { 
	font-size: 0.8em;
	background: white;
}

.container .mid-col .mid-col-container #content article .subtitle {
    font-weight: 400;
}